@{
    ViewData["Title"] = "Passcode Generator";
}

<div class="text-center">
    <form action="/" method="GET">
        <div class="form-group">
            @* <label for="passcode">Random Passcode (Passcode # @Context.Session.GetInt("Number"))</label> *@
            <label for="passcode">Random Passcode (Passcode # @ViewBag.number)</label>
            <br>
            <input type="text" name="passcode" value="@ViewBag.Passcode">
        </div>
        <input type="submit" value="Generate">
    </form>
</div>
