@{
    ViewData["Title"] = "Dojo Survey";
}

@model Survey

@{
    <div style="border: 1px black; width: 300px; height: 300px;">
        <h1>Submitted Info</h1>
        <p>Name: @Model.Name</p>
        <p>Dojo Location: @Model.Location</p>
        <p>Favorite Language: @Model.Lang</p>
        <p>Comment: @Model.Comment</p>
    </div>
}