@{
    ViewData["Title"] = "Login and Registration";
}

@model User

<div class="text-center">
    <h1 class="display-4 mb-4 text-success">Success!</h1>
</div>

<a href="/logout" class="btn btn-danger">Logout</a>